In [3]:
from __init__scr import *
import numpy as np
import pandas as pd
import glob

In [17]:
files = glob.glob('/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/*.gz')
files = glob.glob('/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/*.gz')
files

['/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD12.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_DM2.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD10.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD14.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD8.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD5.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD6.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD4.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD9.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD15.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD2.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD13.tsv.gz',
 '/cndd2/fangming/projects/cfdna/desplats_combined_2021/allc/test_merge/AD/allc_AD11.tsv.gz']

In [20]:
dfs = []
for f in files:
    df = pd.read_csv(f, sep='\t', header=None).drop(6, axis=1)
    dfs.append(df)
    print(df.shape)
    
dfs = pd.concat(dfs).groupby([0,1,2,3]).sum().reset_index()

(10, 6)
(10, 6)
(10, 6)
(10, 6)
(10, 6)
(10, 6)
(10, 6)
(10, 6)
(10, 6)
(10, 6)
(10, 6)
(10, 6)
(10, 6)

In [21]:
dfs.shape

(52, 6)

In [22]:
dfs.head()

       0      1  2    3  4  5
0  chr10  60377  -  CTT  0  2
1  chr10  60385  -  CTA  0  4
2  chr10  60391  -  CAT  0  4
3  chr10  60393  -  CAC  0  4
4  chr10  60394  -  CCA  1  4